{% extends 'base.html.twig' %}
{% block body %}
<br>
<div class="container">
    {% for msg in app.flashes('success') %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
    {% endfor %}
    
    <br><a href="{{ path("admin_edit_appart", {'idappart': appart.idappart, 'id': appart.proprietaire.idpers})}}" class="btn btn-info">Editer le bien</a>
        
</div>
<br>

<div>
    <p>Location d'appartement de {{ appart.taille }} <var>m<sup>2</sup></var> {{ appart.ville }} {{ appart.cp }} - {{ appart.adr }}</p>
    {% if appart.filename|length == 0 %}
        <img src="https://via.placeholder.com/900x500" alt=""/>
    {% else %}
        <img src="/images/appartements/{{ appart.filename }}" alt="" class="img-fluid img-thumbnail" height="900px" width="950">
    {% endif %}
    
</div>
<div class="row">
    <div class="col">
        <strong>Appartement</strong>
    </div>
    <div class="col">
        {% for tarif in tarifs %}
       <strong> {{ tarif.tarif }}
        {% endfor %}
      &euro;/mois CC (charges comprise)</strong>
    </div>
</div>
<p>{{ appart.ville }} {{ appart.cp }} - {{ appart.adr }}</p>
    

<div class="row"  style="background-color: #EAEAEA  ">
    <p><strong>Informations général</strong></p>
    <table class="table borderless">
            
        <tr>   
            <td>Surface de {{ appart.taille }} <var>m<sup>2</sup></var> </td>
        </tr>
        <tr>
            <td>Au {{ appart.etage}} ème étage</td>
            <td></td>
        </tr>
        <tr>
            <td>{{ appart.typeappart }}</td>
        </tr>
        <tr>
            {% if appart.ascenseur == 1 %}
            <td>Ascenseur</td>
            {% else %}
            <td></td> 
            {% endif %}
        </tr>
         <tr>
            <td>Date de libération : {{ appart.datelibre| date('Y/m/d')}}</td>
        </tr>
        {% if appart.preavis == 1 %}
            <tr>
                <td>Préavis</td>
            <tr>
        {% else %}
        {% endif %}
    </table>
</div>
    
<br>
    
<div class="row" style="background-color: #EAEAEA ">
    <div>
        <p><strong>Informations tarif</strong></p>
        <p>Le loyer : {{ appart.loyer }} &euro;/mois</p>
        <p>Les charges : {{ appart.charge }} &euro;/mois</p>
        <p>Soit 
            {% for tarif in tarifs %}
            <strong> {{ tarif.tarif }}
             {% endfor %}
           &euro;/mois CC </strong>    
        </p>
        <p>Taux de cotisations : {{ appart.tauxcotisation}} % </p>
    </div>
</div>   
 <br>
<div class="row" style="background-color: #EAEAEA ">
    <div class="col-sm-9">
        <p><strong>Informations propriétaire</strong></p>
        <p>Le propriétaire : {{ appart.proprietaire.nom  }} {{ appart.proprietaire.prenom  }} </p>
        <p>Adresse : {{ appart.proprietaire.adr }}</p>
        <p>{{ appart.proprietaire.ville }} - {{ appart.proprietaire.cp }}</p>
        <p> Contact : {{ appart.proprietaire.tel }}</p>
    </div>
    <div class="col-sm-3">
        <br><br><br><br><br><br>
        <a class="btn btn-outline-info" href="{{ path("admin_infoproprio", {'id' : appart.proprietaire.idpers }) }}" type="button">Fiche propriétaire</a>
    </div>
</div>

 <br>

<div class="row" style="background-color: #EAEAEA ">
    <div class="col-sm-7">
        <p><strong>Informations du locataire</strong></p>
        {% if loc |length == 0 %}
            <p>Il n'y a pas de locataire dans cet appartement</p> 
        {% else %}
            {% for l in loc %}
                <p>Occupé par :  {{ l.nom }} {{l.prenom }}</p>
                <p> Contact : {{ appart.proprietaire.tel }}</p>
            {% endfor %}
        {% endif %}
    </div>
    <div class="col-sm-3">
        {% for l in loc %}
        <a href="{{ path('admin_infoloc', {'id' : l.idpers}) }}" class="btn btn-outline-info" >Plus d'informations</a>
        {% endfor %}
    </div>
            
</div>
<br>
    <div class="row">
        <div class="col-5"></div>
        <div class="col-3"><button type="button" class="btn btn-outline-info"><a href="{{ path('admin_infoproprio', {'id' : appart.proprietaire.idpers }) }}">Retour</a></button> </div>
        <div class="col-5"></div>
    </div>


{% endblock %}