{% extends 'base.html.twig' %}

{% block body %}
    <div class="container"><br>
        <a href="{{ path('admin_creeVisiteur') }}" class="btn btn-info">Ajouter un visiteur</a><br><br>
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">Adresse</th>
                <th scope="col">Ville</th>
                <th scope="col">Code Postal</th>
                <th scope="col">Téléphone</th>
                <th scope="col" colspan="2">Action</th>
            </tr>
            </thead>
            <tbody>
                {% for visiteur in visiteurs %}
                    <visiteur>
                        <tr>    
                            <td>{{ visiteur.nom }}</td>
                            <td>{{ visiteur.prenom }}</td>
                            <td>{{ visiteur.adr }}</td>
                            <td>{{ visiteur.ville }}</td>
                            <td>{{ visiteur.cp }}</td>
                            <td>{{ visiteur.tel }}</td>
                            <td><a href="{{ path('admin_infovisiteur', {'id' : visiteur.idpers }) }}">En savoir plus</a></td>
                            <td><a href="">Supprimer</a></td>
                        </tr>     
                    </visiteur>  
                {% endfor %}
            </tbody>
        </table>
    </div>
    
{% endblock %}