{% extends 'base.html.twig' %}

{% block body %}
<h2> {% if app.user %} Bonjour {{ app.user.username }} {{app.user.idpers}} {% endif %}</h2>
    {{form_start(form)}}

        {{form_row(form.typedem, {'label' : 'Type d\'appartement'} )}}

        {{form_row(form.visiteur)}}

        {{form_row(form.datelimite, {'label' : 'Date de limite'} )}}

        {{form_row(form.prix, {'label' : 'Loyer'})}}

        {{form_row(form.ville)}}

    {{form_end(form)}}

{% endblock %}