<div class="container">
    <!-- ouverture du formulaire Proprio -->
    {{ form_start(formLoc) }} 
    <div class="row">
        <div class="col-6">
            {{ form_row(formLoc.nom, {'attr': {'placeholder' : "Nom du locataire ...", 'label' : "Nom du Locataire"}} ) }}
        </div>
        <div class="col-6">
            {{ form_row(formLoc.prenom, {'label' : 'Prénom'}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-6">{{ form_row(formLoc.datenaissance, {'label' : 'Date de naissance'}) }}</div>
        <div class="col-4">{{ form_row(formLoc.rib) }}</div>
        <div class="col-2">{{ form_row(formLoc.telbanque, {'label' : 'Téléphone Banque'}) }}</div>
    </div>
    <div class="row">
        <div class="col-5">{{ form_row(formLoc.tel, {'label' : 'Téléphone'}) }}</div>
        <div class="col-5">{{ form_row(formLoc.appartement)}}</div>
    </div>
    <hr>
    <div class="row">
        <div class="col-5">{{ form_row(formLoc.username, { 'attr' : {'placeholder' : 'Exemple : p_nom.prenom'}} ) }}</div>
        <div class="col-5"> 
            <label for="">Mot de passe</label>
        {{ form_widget(formLoc.password,{'attr' : {'placeholder' : 'Doit contenir au moins 8 caratères'}} ) }}
        </div>
    </div>
    <br>
    <div class="row">
        <button type="submit" class="btn btn-primary btn-lg btn-block">Valider</button>
    </div>
    
    <!-- fermeture du formulaire -->
    {{ form_end(formLoc) }}
</div>