{% extends 'base.html.twig' %}

{% block body %}
    <div class="container"><br>
        {% for msg in app.flashes('success') %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
        {% endfor %}
        <a href="{{ path('admin_creeloc') }}" class="btn btn-info">Nouveau Locataire</a><br><br>
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">Date de naissance</th>
                <th scope="col">RIB</th>
                <th scope="col">Téléphone de banque</th>
                <th scope="col">Téléphone perso</th>
                <th scope="col" colspan="2">Action</th>
            </tr>
            </thead>
            <tbody>
                {% for loc in locs %}
                    <loc>
                        <tr>    
                            <td>{{ loc.nom }}</td>
                            <td>{{ loc.prenom }}</td>
                            <td>{{ loc.datenaissance | date('Y/m/d') }}</td>
                            <td>{{ loc.rib }}</td>
                            <td>{{ loc.telbanque }}</td>
                            <td>{{ loc.tel }}</td>
                            <td><a href="{{ path('admin_infoloc', {'id' : loc.idpers }) }}">En savoir plus</a></td>
                            <td>
                                <form method="post" action="{{ path('admin_deleteloc', {'id' : loc.idpers }) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce locataire ?')">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ loc.idpers) }}">
                                    <button class="btn btn-outline-danger">Supprimer</button>
                                  </form>
                            </td>
                        
                        </tr>
                    </loc>
                {% endfor %}    
               
            </tbody>
        </table>
    </div>
    
{% endblock %}